body{
    text-align: center;
    background-color: #f8f8f8;
}

.column {
    display: initial;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: row;
}

section {
    font: 55%;
}

#suggestions li {
    display: block;
    margin: 10px;
    background-color: hsl(171, 100%, 41%);
    color: black;
    opacity: 85%;
    padding: 10px;
    border-radius: 5px;
}

input {
    text-align: center;
    color: hsl(171, 100%, 41%);
}

li:hover {
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    font-size: 7px;
    color: black;
    font-weight: bold;
    margin-top: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}