body{
    text-align: center;
}

header .columns{
    margin-top: 20px;
}

section {
    font: 75%
}

#suggestions li {
    display: block;
    margin: 10px;
    background-color: tan;
    padding: 10px;
    border-radius: 5px;
}

#invisible {
    color: white;
}