/* Primary Tags */
body{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button:hover {
    transform: scale(1.010);
    box-shadow: 0 0 25px -10px #090a0a;
}

footer {
    font-family: 'Rock Salt';
    background-color: #f8f8f8;
    font-size: 7px;
    color: black;
    font-weight: bold;
    margin-top: auto;
    padding-top: 100px;
    padding-bottom: 25px;
}

h4 {
    font-family: 'Rock Salt';
}

input {
    text-align: center;
    color: hsl(171, 100%, 41%);
}

li:hover {
    cursor: pointer;
}

section {
    font: 55%;
}

/* ID Styling */

#suggestions li {
    display: block;
    margin: 10px;
    background-color: hsl(171, 100%, 41%);
    color: black;
    opacity: 85%;
    padding: 10px;
    border-radius: 5px;
}

#suggestions {
    font-family: 'Rock Salt';
}

#suggestionHeader {
    font-family: 'Rock Salt';
    font-size: 12px;
}

#lyricDiv {
    font-family: 'Rock Salt';
}

/* Class Styling */

.column {
    display: initial;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: row;
}

.input {
    font-family: 'Rock Salt';
}

::placeholder {
    font-family: 'Rock Salt';
}